@font-face {
    font-family: 'header';
    src: url('font/myanmaryinmar.ttf');
}

@font-face {
    font-family: 'body';
    src: url('font/myanmaryein.ttf');
}

.nav-cover {
    background-color: #f0e8e8;
}

.nav-header {
    font-family: 'header';
    color: #fd0033;
    font-size: 55px;
}

@media (max-width: 575.98px) {
  .mobile-lineheight {
    line-height: 1.5; /* or try 2 for more spacing */
  }
}